
[{.eslintrc,.babelrc,jest.config,.stylelintrc,*.bowerrc,*.jsb3,*.jsb2,*.json,*.yml,*.yaml}]
indent_style=space
indent_size=2

[{*.java,*.html}]
charset=utf-8
insert_final_newline=false
indent_style=space
indent_size=4


